/* ****** #INICIO - CSS SITE NOTICIAS CIDADE ****** */


/* ****** #INICIO - RESET DA PAGINA ****** */
* {
	padding: 0;
	margin:0;
}

body {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background: #fff url(../imagens/fundo.png) repeat-x;
}
/* ****** #FIM - RESET DA PAGINA ****** */


/* ****** #INICIO - DIV COM TODOS OS CONTEUDOS DA PÁGINA EXCETO RODAPÉ ****** */
#container {
	width: 750px;
	margin:0 auto;
}
/* ****** #FIM - DIV PRINCIPAL DA PÁGINA ****** */


/* ****** #INICIO - FORMATANDO TOPO ****** */
#topo {
	height: 150px;
	background: url(../imagens/detalhe-topo.png) no-repeat right center;
	padding-top:25px;
	/*border:1px solid red;*/
}	

.logo {
	width: 152px;
	height: 66px;
	background: url(../imagens/logo.png) no-repeat center;
	text-indent: -3000px;
}

ul {
	margin:0;
	padding: 0;
	list-style: none;
}

#topo ul{
	margin-top: 30px;
	background: #b10333;
	float: left;
	border: none;
}

#topo ul li {
	float: left;
}

#topo ul a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
	background: url(../imagens/divisor.png) repeat-y left top;
}

#topo ul .primeiro a {
	background: none;
}

#topo ul a:hover {
	color:#69001d;
}


/* ****** #INICIO - MARCADORES DE PAGINA ****** */
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
	color: #fff;
	background: #de003e;
	cursor: text;
}
/* ****** #FIM - MARCADORES DE PAGINAS ****** */


/* ****** #FIM - FORMATANDO TOPO ****** */


#conteudo {
	margin-top: 60px;
}


/* ****** #INICIO - FORMATANDO PRIMÁRIO DAS PAGINAS ****** */
#primario {
	width:270px;
	margin: 0 0 20px 195px;
	float: left;
}

#duas-colunas #primario {
	width:555px;
}

#uma-coluna #primario {
	width:750px;
	margin: 0 0 20px 0;
}
/* ****** #FIM - FORMATANDO PRIMARIO NAS PAGINAS ****** */


/* ****** #INICIO - FORMATANDO SECUNDÁRIO E LATERAL ****** */
#secundario {
	width: 270px;
	margin: 0 0 20px 15px;
	float: left;
}

#lateral {
	width: 180px;
	margin: 0 0 20px -750px;
	float: left;
}

#duas-colunas #lateral {
	width: 180px;
	margin: 0 0 20px -750px;
	float: left;
}
/* ****** #FIM - FORMATANDO SECUNDÁRIO E LATERAL ****** */

/* ****** #INICIO - FORMATANDO CAIXA ****** */
.caixa {
	margin: 10px 0;
	padding: 5px;
	background: url(../imagens/fundo-caixa.png);
}

.caixa-conteudo {
	background: #fff;
	padding: 5px;
	margin-top: 5px;
}

/* ****** #FIM - FORMATANDO CAIXA ****** */

/* ****** #INICIO - TITULO DAS POSTAGENS ****** */
h2 {
	font-size: 1em;
	padding: 5px;
	background: #294c71;
	color: #fff;
}
/* ****** #FIM - TITULO DAS POSTAGENS ****** */


/* ****** #INICIO - LATERAL DA PAGINA ****** */
#lateral ul a {
	font-size: 0.9em;
	line-height: 30px;
	color: #000;
	text-decoration: none;
	display: block;
	background: #fff;
	padding:3px;
	border-bottom: : 1px solid #f3f3f3;
}

#lateral ul a:hover {
	text-indent:20px; /*Poderia ser utilizado o padding-left*/
	background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
	color: #a1a1a1;
}

#lateral .cadastro {
	margin-top: 5px;
	padding: 5px;
	background: #fff;
}

#lateral .cadastro input[type="text"] {
	width: 90%;
	font-size:0.6em;
	line-height: 20px;
}

#lateral .cadastro input[type="submit"] {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 1.2em;
	color: #fff;
	background:#b10333;
	border: 2px solid #8e052b;
}
/* ****** #FIM - LATERAL DA PAGINA ****** */

/* ****** #INICIO - FORMATANDO IMAGENS ****** */
img {
	border: 2px solid #dfdfdf;
}

img.imagem-principal {
	width: 98%;
	border: 3px solid #dfdfdf;
}
/* ****** #FIM - FORMATANDO IMAGENS ****** */


/* ****** #INICIO - FORMATANDO CABEÇALHOS ****** */
h3 {
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
}

.destaque h3 {
	background:#b10333;
	color: #fff;
}
/* ****** #FIM - FORMATANDO CABEÇALHOS ****** */


.destaque a{
	color:#b10333; 
}


/* ****** #INICIO - FORMATANDO LISTA DE NOTICIAS ****** */
#lista-noticias li {
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 65px;
}

#lista-noticias li a img {
	float: left;
	margin: 5px;
}

ul#lista-noticias li a {
	text-decoration: none;
}

#lista-noticias li a h3 {
	font-size: 0.8em;
	padding: 0;
	color: #3e7ab9;
}

#lista-noticias li a p {
	font-size: 0.7em;
	color: #000;
}

#lista-noticias li:hover {
	background: #eee;
	cursor: pointer;
}
/* ****** #FIM - FORMATANDO LISTA DE NOTICIAS ****** */


/* ****** #INICIO - RODAPÉ DA PAGINA ****** */
#container-rodape {
	background: #294c71;
	padding: 20px;
}

#rodape {
	width: 750px;
	margin:0 auto;
	color: #fff;
	text-align:center;
}
/* ****** #FIM - RODAPÉ DA PAGINA ****** */
